msgpack-python>=0.4.2
pep8>=1.5.6
pyflakes>=0.8.1
pyzmq>=14.2.0
wheel>=0.23.0
coverage>=3.7
docutils>=0.11
elpy
jedi
rope_py3k
ipython
ipdb==0.10.1
sphinx==1.4.6
sphinxcontrib-spelling==2.2.0
readthedocs-sphinx-ext
-e .
